pandas
numpy
scipy
gunicorn
plotly>=4.1.0
plotly_express
plotly.figure_factory
plotly.graph_objects
chart-studio==1.0.0
dash
dash-renderer
dash-html-components
dash-core-components
dash-bootstrap_components
dash-table
dash-table.Format
dash-dependencies
dash-daq
sklearn
xgboost
requests
