pandas
numpy
scipy
scipy_cluster
gunicorn
plotly>=4.1.0
plotly_express
plotly.figure_factory
plotly.graph_objects
chart-studio==1.0.0
dash
dash-renderer
dash-html-components
dash-core-components
dash_bootstrap_components
dash_table
dash_table.Format
dash.dependencies
dash_daq
sklearn.svm
sklearn.inspection
sklearn.ensemble
sklearn.preprocessing
sklearn.metrics
sklearn.model_selection
sklearn.linear_model
sklearn.manifold
sklearn.decomposition
xgboost
requests
